package ${package}.${moduleName}.controller;

import java.util.Arrays;
import java.util.Map;

import ${mainPath}.common.page.PageData;
import ${mainPath}.common.restful.ResponseData;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.*;

import ${package}.${moduleName}.entity.${className}Entity;
import ${package}.${moduleName}.service.${className}Service;

/**
 * ${comments} - 控制器
 */
@RestController
@RequestMapping("${moduleName}/${pathName}")
public class ${className}Controller {

    @Autowired
    private ${className}Service ${classname}Service;

    /**
     * 列表
     */
    @GetMapping("/list")
    public ResponseData<PageData<${className}Entity>> list(@RequestParam Map<String, Object> params){
        PageData<${className}Entity> page = ${classname}Service.queryPage(params);
        return ResponseData.success(page);
    }

    /**
     * 详情
     */
    @GetMapping("/info/{${pk.attrname}}")
    public ResponseData<${className}Entity> info(@PathVariable("${pk.attrname}") ${pk.attrType} ${pk.attrname}){
		${className}Entity ${classname} = ${classname}Service.getById(${pk.attrname});
        return ResponseData.success(${classname});
    }

    /**
     * 保存
     */
    @PostMapping("/save")
    public ResponseData<Object> save(@RequestBody ${className}Entity ${classname}){
		${classname}Service.save(${classname});
        return ResponseData.success(null);
    }

    /**
     * 修改
     */
    @PostMapping("/update")
    public ResponseData<Object> update(@RequestBody ${className}Entity ${classname}){
		${classname}Service.updateById(${classname});
        return ResponseData.success(null);
    }

    /**
     * 删除
     */
    @PostMapping("/delete")
    public ResponseData<Object> delete(@RequestBody ${pk.attrType}[] ${pk.attrname}s){
		${classname}Service.removeByIds(Arrays.asList(${pk.attrname}s));
        return ResponseData.success(null);
    }

}
